body {
    margin: 0;
}
main{
    font-family: "roboto", sans-serif;
}

header {
    background-color: rgb(233, 233, 233);
    border: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin-left: 15px;
}

header a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

.cartao {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 30px auto;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
#bt_calcular {
    padding: 12px;
    background-color: #15bd3d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s;
}

#bt_calcular:hover {
    background-color: #218838;
}

input[type="number"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; 
    background-color: #fdfdfd;
}


input[type="number"]:focus,
select:focus {
    outline: none; 
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}


